.span{
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    margin-left: 20px;
    color: gray;
}

.btn{
    color: grey;
    border: 1px solid grey;
    border-radius: 10px;
    margin-left: 5px;
}

.btn:hover{
    color: black;
    background-color: #a9a9a9 ;
}

.error{
    color: red;
}

.color{
    color: green;
}